/* General */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
label {
    font-weight: bold;
}
/* Scrollbar */
*::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
*::-webkit-scrollbar-track {
    background-color: #252525;
}
*::-webkit-scrollbar-thumb {
    background-color: #353535;
    border-radius: 3px;
}
/* === */
.field {
    display: flex;
    align-items: center;
    gap: 10px;
}
.field .content {
    align-items: center;
}
.custom-select,
.custom-input-text {
    color: #ffffff;
    border: 0;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
.custom-select {
    background-color: #555555;
    cursor: pointer;
    width: 160px;
    font-size: 16px;
    text-align: center;
}
.custom-select.small {
    width: 60px;
    font-size: 16px;
}
.custom-input-text {
    background-color: #353535;
    width: 50px;
}
.sign {
    font-size: 22px;
}
.factor {
    font-weight: bold;
    color: #6542ff;
}

/* Main */
/* Button Add Restriction */
.custom-btn {
    --color1: #53d35e;
    --color2: #ffffff;
    background-color: #353535;
    display: flex;
    background-color: var(--color1);
    color: var(--color2);
    border: 5px solid var(--color1);
    border-radius: 8px;
    width: max-content;
    padding: 12px 8px;
    transition: 0.3s;
    user-select: none;
    cursor: pointer;
}
.custom-btn:hover {
    background-color: var(--color2);
    color: var(--color1);
}
.custom-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}
.custom-btn.delete {
    --color1: #ff3344;
}
.custom-btn.processing {
    --color1: #535ed3;
    padding: 10px;
}
#btn-generate-restrictions {
    --color1: #353535;
    font-size: 15px;
}
#btn-add-restriction .iconify,
#btn-delete-restriction .iconify {
    font-size: 30px;
}
/* Main Header */
#main-header, #main-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#main-header .title {
    display: flex;
    align-items: center;
    gap: 5px;
}
#main-header {
    background-color: #151515;
    padding-left: 25px;
}
#main-header h1 {
    font-size: 30px;
    margin-left: 20px;
    color: #f3f336;
}
#btn-dev {
    transition: 0.4s;
    cursor: pointer;
    margin-right: 20px;
}
#btn-dev:hover {
    transform: scale(1.5) translateX(-10px) rotate(360deg);
    filter: brightness(200%);
}
#btn-dev .iconify {
    color: #6a76fa;
    font-size: 50px;
    transition: 0.35s;
}
#main-header .title .iconify {
    color: #ffffff;
    font-size: 30px;
}
/* === */
/* Main Footer */
#main-footer {
    background-color: #E5E5E5;
    justify-content: flex-end;
}
#main-footer h5 {
    margin-right: 30px;
    color: #858585;
}
/* === */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
#form-data-case, 
#form-data-case > .content {
    display: flex;
    flex-direction: column;
}
#form-data-case {
    display: flex;
    gap: 15px;
    width: 600px;
}
@media (max-width: 700px) {
    #form-data-case {
        width: 90%;
    }
}
#form-data-case .content {
    gap: 15px;
}
#form-data-case > footer {
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #00000035;
    padding: 10px;
}
/* === */
/* TARGET FUNCTION */
#target-function, 
#target-function .content, 
#target-function .content .factor {
    display: flex;
    gap: 10px;
    align-items: center;
}
#target-function .content {
    flex-wrap: wrap;
    width: 350px;
}
#target-function label {
    width: 140px;
    text-align: center;
}
/* === */
#container-restrictions,
#container-restrictions .field .content {
    display: flex;
}
#container-restrictions {
    flex-direction: column;
    gap: 10px;
}
#container-restrictions header h3 {
    margin: 5px;
    color: #959595;
}
#container-restrictions > .content {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#container-restrictions .content .field .factor {
    display: flex;
    gap: 5px;
    align-items: center;
}
#container-restrictions .field .content {
    flex-wrap: wrap;
    gap: 5px;
    width: 310px;
}
#container-restrictions > footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

/* SOLUTION */
#solution-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    margin-bottom: 50px;
    background-color: #252525;
    padding: 20px;
    border-radius: 10px;
}
#solution-section.hidden {
    display: none;
}
#solution-section header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#solution-section header h2 {
    color: #eeeeee;
    margin: 0;
}
#count-iterations {
    display: flex;
    align-items: flex-end;
    font-size: 12px;
    width: 110px;
}
#count-iterations .description {
    color: #91b4ff;
}
#count-iterations .value {
    color: #eeeeee;
}
#solution-section * {
    font-weight: bold;
}
#solution-target-function {
    display: flex;
    gap: 10px;
}
#solution-target-function {
    font-size: 20px;
}
#solution-target-function .function {
    color: #ff3344;
}
#solution-target-function .result {
    color: #eeeeee;
}
#solution-target-function {
    border-bottom: 1px solid #00000025;
    padding: 10px;
}
#solution-variables {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#solution-variables .variable {
    display: flex;
    gap: 5px;
}
#solution-variables .variable {
    color: #f3f336;
}
#solution-variables .value {
    color: #eeeeee;
}